/* Form Styles*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  width: 60%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.form-input {
  width: 80%;
  border: none;
  padding-left: 4px;
  font-weight: 400;
  font-size: larger;
}

.form-btn {
  cursor: pointer;
  width: 50px;
  font-size: 30px;
  border: none;
  background-color: white;
  color: rgb(26, 138, 95);
}

.form-select {
  width: 20%;
  height: 50px;
  margin-left: 30px;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

@media only screen and (max-width: 900px) {
  .form {
    width: 90%;
  }

  .form-input {
    width: 68%;
  }

  .form-select {
    width: 32%;
  }
}

/* ---------Form Styles End--------- */

/* ToDo Styles*/

.toDoListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoList {
  min-width: 40%;
  margin: 20px;
}

.TodoContainer {
  list-style: none;
  min-height: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.TodoItem {
  flex: 1;
  padding: 4px;
}

.check-btn {
  background-color: rgb(52, 167, 58);
  width: 60px;
  border: none;
  border-left: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.trash-btn {
  background-color: rgb(163, 71, 62);
  width: 60px;
  border: none;
  border-left: 2px solid rgb(0, 0, 0);
  border-right: 1px solid rgba(2, 1, 15, 0.322);

  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .toDoList {
    min-width: 86%;
  }

  .check-btn,
  .trash-btn {
    width: 40px;
  }
}
/* ---------ToDo Styles End--------- */
