/* Tabs Styles*/

.tabs-container {
  margin-top: 2.1vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  cursor: pointer;
  text-decoration: none;
  color: white;
  list-style: none;
  margin-right: 12px;
  opacity: 0.6;
}

.clicked-tab {
  color: rgb(69, 86, 133);
  font-weight: bold;
  opacity: 0.9;
}

.clear {
  margin-left: 12px;
  cursor: pointer;
  text-decoration: none;
  color: rgba(253, 241, 250, 0.95);
  list-style: none;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: smaller;
  border: 2px double rgba(144, 97, 199, 0.267);
  border-radius: 6px;
  padding: 4px 10px 4px 10px;
  box-shadow: 6px 2px 18px 5px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
}

@media only screen and (max-width: 950px) {
  .tabs-container {
    justify-content: space-around;
  }
}

@media (hover: hover) and (pointer: fine) {
  .tab:hover {
    color: rgba(169, 63, 184, 0.945);
    font-weight: 600;
  }
  .clear:hover {
    color: rgba(255, 255, 255, 0.915);
    background-color: rgba(137, 43, 226, 0.11);
  }
}
