/* TodoList Styles*/

.toDoListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoList {
  min-width: 50%;
  margin-top: 40px;
}

@media only screen and (max-width: 900px) {
  .toDoList {
    min-width: 93%;
  }
}
