.App {
  min-height: 100vh;
  background-image: linear-gradient(
    145deg,
    #27233dd2 0%,
    #c4a4c48a 62%,
    #3d0f3fab 100%
  );
}

.title {
  padding-top: 5vh;
  color: rgba(255, 255, 255, 0.82);
  text-align: center;
}

.title2 {
  padding-top: 1.1vh;
  color: rgba(255, 255, 255, 0.637);
  text-align: center;
  opacity: 0.9;
}

.title2:last-child {
  padding-bottom: 5vh;
  opacity: 0.8;
}
